<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">Request</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container">

    <!-- Title -->
    <div class="hk-pg-header">
        <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i
                        data-feather="database"></i></span></span>All Request</h4>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Sent Request</h5>
                <p class="mb-40">Here are the list of all request sent to you</p>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Pickup Location</th>
                                        <th>Request Destination</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each requests}}
                                    <tr>
                                        {{#each this}}
                                        <td>{{inc @index}}</td>
                                        <td>{{this.pickup_location}}</td>
                                        <td>{{this.destination}}</td>
                                        <td><a href="/request/details/{{id}}"><span class="feather-icon"><i
                                                        data-feather="eye"></i></span></a></td>
                                        {{/each}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Pickup Location</th>
                                        <th>Request Destination</th>
                                        <th>details</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->

</div>
<!-- /Container -->