<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />
    <title>{{title}} - {{@defaultPageTitle}}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->

    <!-- HK Wrapper -->
    <div class="hk-wrapper">

        <!-- Main Content -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 pa-0">
                        <div class="auth-cover-img overlay-wrap" style="background-image:url(dist/img/bg1.jpg);">
                            <div class="auth-cover-info py-xl-0 pt-100 pb-50">
                                <div class="auth-cover-content w-xxl-75 w-sm-90 w-100">
                                    <h1 class="display-3 text-white mb-20">Enjoy unlimited beautiful display content
                                        area</h1>
                                    <p class="text-white">The passage experienced a surge in popularity during the 1960s
                                        when Letraset used it on their dry-transfer sheets, and again during the 90s as
                                        desktop publishers bundled the text with their software.</p>
                                    <div class="play-wrap">
                                        <a class="play-btn" href="#"></a>
                                        <span>How it works ?</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-overlay bg-trans-dark-50"></div>
                        </div>
                    </div>
                    <div class="col-xl-7 pa-0">
                        <div class="auth-form-wrap py-xl-0 py-50">
                            <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-100">
                                {{#if hasErrors}}
                                <div class="alert alert-danger">
                                    {{#each messages}}
                                    <p>{{this}}</p>
                                    {{/each}}
                                </div>
                                {{/if}}
                                {{#if success}}
                                <div class="alert alert-success">
                                </div>
                                {{/if}}
                                <form action="/register" method="POST">
                                    <h1 class="display-4 mb-10">Sign up for free</h1>
                                    <p class="mb-30">Create your account today</p>
                                    <div class="form-row">
                                        <div class="col-md-6 form-group">
                                            <input class="form-control" name="firstname" placeholder="First name"
                                                value="" type="text">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input class="form-control" name="lastname" placeholder="Last name" value=""
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="email" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="password" placeholder="Password"
                                            type="password">
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" name="cpassword" placeholder="Confirm Password"
                                                type="password">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="feather-icon"><i
                                                            data-feather="eye-off"></i></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="phone" placeholder="Phone Number"
                                            type="phone">
                                    </div>
                                    <div class="form-group">
                                        <select name="role" id="" class="form-control">
                                            <option value="">How would you love to partner with us?</option>
                                            <option value="sender">As a Sender</option>
                                            <option value="receiver">As a receiver</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                                    <button class="btn btn-gradient-dark btn-rounded form-control"
                                        type="submit">Register</button>
                                    <div class="option-sep">or</div>
                                    <p class="text-center">Already have an account? <a href="/login">Sign In</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="/dist/js/init.js"></script>

</body>

</html>